
<h1>Tabla de Monstruos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Atributos</th>
            <th>Contenido</th>
        </tr>
    </thead>
    <tbody>
        <% @monsters.each do |monster| %>
            <tr>
                <td><%= monster.name %></td>
                <td class="twittero"><%= es_twittero(monster) %></td>
                <td><%= link_to "Perfil", monster, class: "btn btn-dark" %></td>
                <td><%= link_to "Eliminar", monster, class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Estas seguro?" } %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<footer>
  <p>Copyright © 2022</p>
</footer>
